@media (max-width: 400px) {
  .headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    text-align: center;
  }

  .copy-input-field {
    width: 250px !important;
  }

  .how-many {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mobile-how-many-winner {
    display: flex;
  }

  .lucky-or-not {
    width: 250px;
  }

  .result {
    width: 250px;
  }

  .matrix {
    width: 250px;
    height: 400px;
  }
}
