body {
  margin: 0;
  font-family: "roboto", sans-serif, Arial, Helvetica;
  /* background-color: #1b1719; */
  background-image: url(/img/bg.jpg);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(245, 245, 245);
}

.headline {
  color: white;
}

h4 {
  margin-top: -24px;
  margin-bottom: 24px;
}

.whole-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-inputs {
  display: flex felx;
}

.how-many {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 8px;
  margin-bottom: 8px;
}

.how-many input {
  background-color: rgb(89, 89, 89);
  color: white;
  border-radius: 4px;
  border: 2px;
  height: 36px;
}

.lucky-or-not {
  color: white;
  margin-bottom: 8px;
  width: 400px;
  display: flex;
  justify-content: center;
}

.copy-input-field {
  color: white;
  background-color: rgb(89, 89, 89);
  display: flex;
  justify-content: flex-start;
  width: 400px;
  height: 36px;
  border-radius: 4px;
  border: 2px;
}

.input-field:focus {
  border: 2px solid rgba(77, 76, 76, 0.46);
  outline: none;
}

.textarea {
  width: 350px !important;
}

.result {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(84, 84, 84);
  width: 400px;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 8px;
}

.d-none {
  display: none;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-optics {
  width: 90px;
  height: 40px;
  background-color: rgb(22, 211, 12);
  border-radius: 4px;
  color: white;
  margin: 8px;
  font-weight: bold;
  border: none;
}

.btn-red {
  background-color: rgb(203, 76, 76) !important;
}

.how-many-win {
  margin: 10px 0px 10px 0px;
  font-weight: bold;
}

.sort-button {
  width: 82px;
  height: 32px;
  background-color: rgb(234 137 39);
  border-radius: 4px;
  color: white;
  margin: 8px;
  border: none;
}

.input-inner {
  background-color: #393939;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  padding-bottom: 12px;
  border-radius: 12px;
  filter: drop-shadow(11px -7px 10px rgba(0, 0, 0, 0.96));
}

.output-names {
  display: flex;
  justify-content: space-evenly;
  width: 400px;
}

.names-inner {
  cursor: pointer;
}
/* Remove arrows from input */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.matrix {
  position: fixed;
  width: 400px;
  border-radius: 4px;
  padding: 0px;
  filter: hue-rotate(57deg);
}
