body {
  margin: 0;
  font-family: "roboto", sans-serif, Arial, Helvetica;
  background-color: rgb(41, 41, 41);
}

.headline {
  color: white;
}

.whole-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.how-many {
  width: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  margin-top: 8px;
  margin-bottom: 8px;
}

.how-many input {
  background-color: rgb(89, 89, 89);
  color: white;
  border-radius: 4px;
  border: 2px;
  height: 36px;
  width: 60px;
  margin-left: 16px;
}

.copy-input-field {
  color: white;
  background-color: rgb(89, 89, 89);
  display: flex;
  justify-content: flex-start;
  width: 400px !important;
  height: 36px;
  border-radius: 4px;
  border: 2px;
}

.input-field:focus {
  border: 2px solid rgba(77, 76, 76, 0.46);
  outline: none;
}

.textarea {
  width: 350px !important;
}

.result {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(84, 84, 84);
  width: 400px;
  height: 400px;
  overflow-y: auto;
  border-radius: 4px;
}

.d-none {
  display: none;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-optics {
  width: 90px;
  height: 40px;
  background-color: rgb(22, 211, 12);
  border-radius: 0px 12px 0px 12px;
  color: white;
  margin: 8px;
  font-weight: bold;
  border-color: rgba(65, 52, 52, 0.652);
}

.btn-red {
  background-color: rgb(203, 76, 76) !important;
}
